<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataTableConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DataTableConverter.Properties.Settings>
            <setting name="TextSeparated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Separator" serializeAs="String">
                <value />
            </setting>
            <setting name="TabSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RememberOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberOrderName" serializeAs="String">
                <value />
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="TextBegin" serializeAs="String">
                <value />
            </setting>
            <setting name="TextEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="splitDuplicates" serializeAs="String">
                <value>456</value>
            </setting>
            <setting name="splitTolerances" serializeAs="String">
                <value>207</value>
            </setting>
            <setting name="splitCases" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="splitProcedures" serializeAs="String">
                <value>375</value>
            </setting>
            <setting name="splitWorkflow" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="splitWorkflowProcProperties" serializeAs="String">
                <value>596</value>
            </setting>
            <setting name="splitWorkflowProperties" serializeAs="String">
                <value>239</value>
            </setting>
            <setting name="UpdateDialogShowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TakeOverAllFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderInFirstRow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequiredField" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Locked" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="FailAddressText" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="RightAddressText" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="PVMAddressText" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="FailAddressValue" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="InvalidColumnName" serializeAs="String">
                <value>UNGÜLTIG</value>
            </setting>
            <setting name="SplitPVM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportHeaderUpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PVMSaveFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OldAffix" serializeAs="String">
                <value>_ALT</value>
            </setting>
            <setting name="AdministrationWindowSize" serializeAs="String">
                <value>1156, 836</value>
            </setting>
            <setting name="Form1Size" serializeAs="String">
                <value>920, 489</value>
            </setting>
            <setting name="TextFormatSize" serializeAs="String">
                <value>816, 615</value>
            </setting>
            <setting name="AutoSavePVM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullWidthImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountFromTo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RowHeight" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="TableFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SettingPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ListBoxFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ListBoxRowHeight" serializeAs="String">
                <value>15</value>
            </setting>
        </DataTableConverter.Properties.Settings>
    </userSettings>
</configuration>